---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">

    <section>
        <div class="container">
            <h1>{{ site.inc.title }}'s blog. </h1>
            {% if site.inc.subtitle %}<h2 style="color: white">{{ site.inc.subtitle }}</h2>{% endif %}
            <h3 id="type-it-span"></h3>

            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i
                    class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i
                    class="icon icon-facebook"></i></a>
            {% endif %}
            {% if site.inc.mail %}
            <a href="mailto:{{ site.inc.mail }}" title="Send me a mail!" target="_blank"><i
                    class="icon icon-mail"></i></a>
            {% endif %}
            {% if site.inc.linkedin %}
            <a href="{{ site.inc.linkedin }}" title="Linkedin" target="_blank"><i class="icon icon-linkedin"></i></a>
            {% endif %}
            {% if site.inc.github %}
            <a href="{{ site.inc.github }}" title="Github" target="_blank"><i class="icon icon-github"></i></a>
            {% endif %}
            <!--<a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i> -->
            </a>
        </div>
    </section>
</div>


<article class="container">
    {% for post in paginator.posts %}
    {% unless post.draft %}
    <section class="index">
        <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
        <div>
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <div class="meta" style="display:inline-block">
                Written By <address>{{ post.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{
                    post.date | date: "%B %d, %Y" }}</time>
            </div>
            {% if post.tags %}
            <div class='post-tags'>
                {% for tag in post.tags %}
                {% if forloop.first == true %}
                &mdash;
                {% endif %}
                <a class="{{ tag }}-tag home-tag btn btn-outline" href="/search/?s={{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
    <section class="pagination" style="text-align:center">
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn btn-outline">‹ Newer</a>
        {% else %}
        <a href="/posts/{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
        {% endif %}
        {% endif %}
        {% if paginator.next_page %}
        <a href="/posts/{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
        {% endif %}
    </section>
</article>