#tag-clear-btn, #tag-filter-btn{
    &:focus{
        outline: none;
    }
}

#tag-filter-btn{
    min-width: 76px;
}

#tag-btn-row{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card-sort {
        padding: 8px 16px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        }
    }
}

#resources-cards {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: -1rem;
    flex-wrap: wrap;
    margin-bottom: 64px;

    .card {
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        max-width: 28%;
        min-height: 200px;
        min-width: 28%;
        padding: 32px;
        position: relative;
        transition: all 0.2s ease-in-out;
        padding-bottom: 90px;
        margin: 1rem;
        background: rgba(240, 240, 240, 0.3);

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
            background: rgba(230, 230, 230, 0);
        }

        .card-title {
            font-weight: bold;
            margin-bottom: 8px;
        }

        .author,
        .year {
            font-size: 0.9rem;
            font-style: italic;
        }

        .url {
            margin-bottom: 8px;
        }

        .tag {
            padding: 4px 6px;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            border: 2px solid rgba(0, 0, 0, 0);
        }

        .tag-Easy {
            background-color: #a6a6a6;
        }

        .tag-Intermediate {
            background-color: rgb(105, 105, 105);
        }

        .tag-Advanced {
            background-color: rgb(63, 63, 63);
        }

        .tag-ML {
            background-color: rgba(104, 174, 123, 1);
        }

        // .tag-DL {
        //     background-color: rgb(181, 192, 24);
        // }

        .tag-Blog {
            background-color: rgba(104, 174, 170, 1);
        }

        .tag-Paper {
            background-color: rgb(185, 77, 50);
        }

        .tag-Review {
            background-color: rgb(53, 102, 124);
        }
        .tag-Book {
            background-color: rgb(92, 53, 124);
        }
        .tag-Vis {
            background-color: rgb(181, 192, 24);
        }
        .tag-GAN {
            background-color: rgb(185, 136, 136);
        }
        .tag-VAE {
            background-color: rgb(43, 100, 26);
        }
    }

    .card-tags {
        position: absolute;
        bottom: 16px;
        display: flex;
        flex-wrap: wrap;
        padding: 8px 0px;
        > span:nth-child(n+2){
            margin-left: 8px;
        }
        max-width: 200px;
    }

    .tag-is-active {
        font-weight: bolder;
        border: 2px solid rgb(0, 153, 255) !important;
    }

    .tag-difficulty{
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 16px 0px 16px 0px !important;
    }

    .card-inactive {
        transform: scale(0.9);
        background-color: grey;
    }


}
